.header {
    /* background-color: cornflowerblue; */
    text-align: center;
    /* outline: solid 1px cornflowerblue; */
    /* grid-area: header; */
    grid-column-start: 1;
    grid-column-end: 5;
    border: solid #fff 1px;
    display: flex;
    justify-content: space-around;
}

aside {
    /* background-color: indianred; */
    /* grid-area: aside; */
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid #fff 1px;
    overflow-y: scroll;
}

aside .note-list li {
    margin: 0em;
    margin-left: 0;
    border: solid #fff 1px;
    list-style: none;
    padding: .5em;
}

.note-container {
    /* background-color: lightblue; */
    /* outline: solid 1px coral; */
    display: flex;
    flex-direction: column;
    /* grid-area: note; */
    grid-column-start: 2;
    grid-column-end: 5;
    border: solid #fff 1px;

}

.note-container h2 {
    text-align: center;
}

ul {
    padding: 0;
}

.note-container>div {
    width: 100%;
}

.note-container>button {
    max-width: 30%;
    align-self: center;
}

.note-text {
    color: #fff;
    min-height: 80%;
    background-color: #031111;
}

.note-heading {
    color: #fff;
    font-size: 1.5em;
    background-color: #031111;
    width: 100%;
}

/* .flex-input-container {
    display: flex;
    align-items: center;
} */


.note-text:focus,
.note-heading:focus {
    outline: none;
}

.active-note {
    background-color: #0B3535;
}

.notes-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 13% 87%;
    /* grid-template-areas:
        "header"
        "aside "
        "note"
    ; */
    height: 100vh;
    width: 100%;
}

.delete-popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #00000043;
    text-align: center;
}

.delete-popup div {
    background-color: #0B3535;
    padding: 2em;
    border-radius: 10px;
}

.delete-popup button {
    margin-inline: .5em;
    margin-top: 1em;
}