.header {
    /* background-color: cornflowerblue; */
    text-align: center;
    outline: solid 1px cornflowerblue;

}

.header .flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5em;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: solid 1px cornflowerblue;
    height: 100%;
}

aside {
    /* background-color: indianred; */
}

aside .note-list li {
    margin: 0em;
    margin-left: 0;
    border: solid #fff 1px;
    list-style: none;
}

.note-container {
    /* background-color: lightblue; */
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    outline: solid 1px coral;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.note-container h2 {
    text-align: center;
}

ul {
    padding: 0;
}

.note-container>div {
    align-self: center;
}

.note-container>button {
    max-width: 30%;
    align-self: center;
}

.NotePage {
    outline: solid 5px cornflowerblue;
}