.header {
    background-color: cornflowerblue;
    text-align: center;
    /* outline: solid 1px cornflowerblue; */
    /* grid-area: header; */
    grid-column-start: 1;
    grid-column-end: 5;
}

aside {
    background-color: indianred;
    /* grid-area: aside; */
    grid-column-start: 1;
    grid-column-end: 2;
}

aside .note-list li {
    margin: 0em;
    margin-left: 0;
    border: solid #fff 1px;
    list-style: none;
}

.note-container {
    background-color: lightblue;
    /* outline: solid 1px coral; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* grid-area: note; */
    grid-column-start: 2;
    grid-column-end: 5;
}

.note-container h2 {
    text-align: center;
}

ul {
    padding: 0;
}

.note-container>div {
    align-self: center;
}

.note-container>button {
    max-width: 30%;
    align-self: center;
}

.notes-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 13% 87%;
    /* grid-template-areas:
        "header"
        "aside "
        "note"
    ; */
    height: 100vh;
    width: 100%;
}