@import "./variables.scss";

:root {
    line-height: 1.5;
    font-weight: 400;
    font-size: 24px;

    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html {
    background-color: $background-color;
    color: $text-color;
}

.reg-page {
    text-align: center;
    margin-top: 2em;

    h1 {
        font-size: 3em;
    }

    >p {
        font-size: 1.5em;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1em
    }

}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent-color {
    color: $accent-color;
}

.registerbtn {
    width: 100%;
    padding-inline: .7em;
    padding-block: .2em;
    margin: 0 auto;
    color: $background-color;
    background-color: $accent-color;
    border: solid 2px transparent;
    border-radius: 10px;
    font-size: 1.5em;
    transition: all $transiton-time;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.registerbtn:hover {
    // transform: translateY(-3px);
    background-color: darken($accent-color, 25%);
}

.reg-form-container {
    max-width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    padding: 2em;
    border-radius: 20px;


    >div {
        max-width: 100%;
        // border: solid 1px coral;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i {
        margin-right: 1em;
    }

    button {
        margin-top: 1em;
    }

    input {
        padding: 1em;
        padding-left: .7em;
        margin-block: 1em;
        color: $darker-text-color;
        flex-grow: 1;
        transition: all $transiton-time;
        height: 30px;
        background-color: inherit;
        border: solid 2px $darker-text-color;
        border-radius: 10px;
        caret-color: $darker-text-color;
    }

    input:hover {
        border: solid 2px $text-color;
    }

    input:focus {
        outline: none;
        border: solid 2px $text-color;
    }
}