:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  background-color: #031111;
  color: #fff;
}

.reg-page {
  text-align: center;
  margin-top: 2em;
}
.reg-page h1 {
  font-size: 3em;
}
.reg-page > p {
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.flex-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accent-color {
  color: #63EBEB;
}

.registerbtn {
  width: 100%;
  padding-inline: 0.7em;
  padding-block: 0.2em;
  margin: 0 auto;
  margin-bottom: 0.3em;
  color: #031111;
  background-color: #63EBEB;
  border: solid 2px transparent;
  border-radius: 10px;
  font-size: 1.5em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.registerbtn:hover {
  background-color: #17b7b7;
}

.reg-form-container {
  max-width: 25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0B3535;
  padding: 2em;
  border-radius: 20px;
}
.reg-form-container .forgot-password-link {
  margin-top: 0.2em;
  color: #afafaf;
  text-align: right;
  font-size: 0.8em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  right: 0;
  top: 75px;
}
.reg-form-container .forgot-password-link:hover {
  color: #fff;
}
.reg-form-container span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.reg-form-container span:hover {
  color: #15a0a0;
}
.reg-form-container > div {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.reg-form-container i {
  margin-right: 1em;
}
.reg-form-container button {
  margin-top: 1em;
}
.reg-form-container input {
  padding: 1em;
  padding-left: 0.7em;
  margin-block: 1em;
  color: #afafaf;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 30px;
  background-color: inherit;
  border: solid 2px #afafaf;
  border-radius: 10px;
  caret-color: #afafaf;
}
.reg-form-container input:hover {
  border: solid 2px #fff;
}
.reg-form-container input:focus {
  outline: none;
  border: solid 2px #fff;
}