.header {
  background-color: cornflowerblue;
  text-align: center;
}
.header .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  background-color: indianred;
}
aside .note-list li {
  margin: 0em;
  margin-left: 0;
  border: solid #fff 1px;
  list-style: none;
}

.note-container {
  background-color: lightblue;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.note-container h2 {
  text-align: center;
}